@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  --primary-light: hsl(193, 38%, 86%);
  --primary-green: hsl(150, 100%, 66%);
  --secondary-grayish-blue: hsl(217, 19%, 38%);
  --seconday-dark-grayish-blue: hsl(217, 19%, 24%);
  --secondary-dark-blue: hsl(218, 23%, 16%);
}

* {
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

body {
  background-color: var(--secondary-dark-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.box {
  max-width: 33.75rem;
  width: 90%;
  min-width: 10rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--seconday-dark-grayish-blue);
  padding: 1.875rem;
  margin-bottom: 6.25rem;
  border-radius: 0.9375rem;
  .quote-box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  h3 {
    font-size: 16px;
    color: var(--primary-green);
    margin-bottom: 1.875rem;
    letter-spacing: 0.2rem;
  }

  h1 {
    font-size: 26px;
    color: var(--primary-light);
    text-align: center;
    margin-bottom: 1.875rem;
  }

  svg#mobile {
    display: none;
  }

  svg#desktop {
    margin-top: 0.625rem;
    margin-bottom: 1.25rem;
  }
}

.dice-img {
  position: absolute;
  cursor: pointer;
  background-color: var(--primary-green);
  background-image: url('images/icon-dice.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  transform: translateY(30%) translateX(-50%);
  left: 50%;
  bottom: -3%;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  /* transition: all ease-in-out 0.3s; */
}

.dice-img:hover {
  box-shadow: -1px 1px 88px 12px var(--primary-green);
  -webkit-box-shadow: -1px 1px 88px 12px var(--primary-green);
  -moz-box-shadow: -1px 1px 88px 12px var(--primary-green);
  transition: all ease-in-out 0.3s;
}

.spinner {
  position: absolute;
  top: 20%;
  left: 45%;
  width: 50px;
  height: 50px;
  border: 5px solid var(--primary-light);
  border-radius: 50%;
  border-top-color: transparent;
  animation: spin 1s linear infinite;
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--primary-light);
}
.attribution a {
  color: var(--primary-green);
  text-decoration: none;
}

@media only screen and (max-width: 550px) {
  .box {
    width: 90%;
    height: 50%;
    margin-bottom: 50px;

    h1 {
      font-size: 22px;
    }
  }

  .box svg#desktop {
    display: none;
  }

  .box svg#mobile {
    display: block;
  }
}
